<?xml version="1.0"?>


<robot name="firefly" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mymav_description)/urdf/component_snippets.xacro" />
  <!-- Instantiate firefly "mechanics" -->
  <xacro:include filename="$(find mymav_description)/urdf/firefly.urdf.xacro" />

  <!-- Instantiate a controller. -->
  <xacro:controller_plugin_macro namespace="${namespace}" imu_sub_topic="imu" />

  <xacro:if value="$(arg enable_mavlink_interface)">
    <!-- Instantiate mavlink telemetry interface. -->
    <xacro:default_mavlink_interface namespace="${namespace}" imu_sub_topic="imu" rotor_count="6" />
  </xacro:if>

  <!-- Mount an ADIS16448 IMU. -->
  <xacro:default_imu namespace="${namespace}" parent_link="${namespace}/base_link" />

  <xacro:if value="$(arg enable_ground_truth)">
    <xacro:ground_truth_imu_and_odometry namespace="${namespace}" parent_link="${namespace}/base_link" />
  </xacro:if>

  <xacro:if value="$(arg enable_logging)">
    <!-- Instantiate a logger -->
    <xacro:bag_plugin_macro
      namespace="${namespace}"
      bag_file="$(arg log_file)"
      rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}" 
      wait_to_record_bag="$(arg wait_to_record_bag)" />
  </xacro:if>


    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <!-- ATTACH MULTIROTOR_FT_PLUGIN TO THE BASE+_LINK -->
  <xacro:macro name="ft_sensor" params="robot_namespace x y z mass">

    <joint name="${robot_namespace}/ft_joint" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_namespace}/base_link" />
      <child link="${robot_namespace}/ft_contact_link" />
      <limit effort="0" velocity="0" lower="0" upper="0" />
      <axis xyz="0 0 1"/>
      <!--dynamics spring_stiffness='1000000' spring_reference='0' damping='0.7' friction='0'/-->
    </joint>

    <link name="${robot_namespace}/ft_contact_link">
      <visual>
      <origin xyz="0 0 ${-z/2}" rpy="0 0 0" />
        <geometry>`
           <box size="${x} ${y} ${z}"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 ${-z/2}" rpy="0 0 0" />
        <geometry>
           <box size="${x} ${y} ${z}" />
        </geometry>
      </collision>
      <inertial>
      <origin xyz="0 0 ${-z/2}" rpy="0 0 0" />
        <mass value="${mass}" />
        <xacro:box_inertia x="${x}" y="${y}" z="${z}" mass="${mass}" />
      </inertial>
    </link>

    <gazebo reference="${robot_namespace}/ft_joint">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo reference="${robot_namespace}/ft_contact_link">
      <provideFeedback>true</provideFeedback>
      <kp>1.0e+9</kp>
      <kd>5.0e+5</kd>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="${robot_namespace}/base_link">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <!-- The ft_sensor plugin  -->
    <gazebo>
        <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
          <updateRate>100.0</updateRate>
          <robotNamespace>${robot_namespace}</robotNamespace>
          <topicName>ft_sensor_topic</topicName> 
          <jointName>${robot_namespace}/ft_joint</jointName>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0001</stddev>
        </noise>
        </plugin>
    </gazebo>
  </xacro:macro>

<!--_______________________________________________________________-->


  <!--gazebo reference="${namespace}/base_link_inertia">
    <provideFeedback>true</provideFeedback>
  </gazebo>
    
  <gazebo reference="${namespace}/rotor_0">
      <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo reference="${namespace}/rotor_1">
      <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo reference="${namespace}/rotor_2">
      <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo reference="${namespace}/rotor_3">
      <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo reference="${namespace}/rotor_4">
      <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo reference="${namespace}/rotor_5">
      <provideFeedback>true</provideFeedback>
  </gazebo-->

</robot>